{% extends "base.html" %}

{% block content %}
    {% if post_list %}
        <div class="cardgroup">
            {% for post in post_list %}
            <!-- TODO: Consider to use AJAX to request the post html from another view. -->
                <div class="card m-2 overflow-hidden">
                    <div class="card-header">
                        <div class="d-flex bd-highlight align-items-start">
                            <img class="rounded-circle img-thumbnail center card-img-start" src="{{ post.author.profile.image.url }}" alt=" ">
                                
                            <div class="align-self-start flex-fill"><!-- card-user-start -->
                                <div class="align-self-start-inner">
                                    <a id="name" class="card-user-link" href="{% url 'blog:user_posts' post.author.username }">{{ post.author }}</a>
                                      <!-- Format the date: -->
                                      <small class="text-muted">created_at: {{ post.created_at|date:"F d, Y" }}</small>
                                      <small class="text-muted">updated_at: {{ post.updated_at|date:"F d, Y" }}</small>
                                      <!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
                                </div>
                                
                                
                                <h5 class="card-title align-self-end">
                                    <a class="card-title" href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                                </h5>
                            </div>
                        </div>
                            
                    </div>

                    <div class="card-body">
                        
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-1x1" style="margin-left: auto; margin-right: auto; width: 90%; height: 75vh/*950px*/;">
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                        <!-- https://getbootstrap.com/docs/5.0/helpers/ratio/ -->
                        
                    </div>
                    <div class="card-footer">
                        {% comment "optional button" %}
                        {% if resume.tags.all %}
                            Tags:
                        {% endif %}
                        {% for tag in resume.tags.all %}
                            <span class="badge bg-info rounded-pill text-dark">{{ tag.name }}</span>
                        {% endfor %}
                        {% endcomment %}

                    </div>

                </div>
                
                
                
            {% endfor %}

        </div>

        <br>

    {% else %}
        <strong>No Posts was found</strong>
    {% endif %}
    

    

    <div id="spe"></div>

    <script>
        // https://stackoverflow.com/a/54404807/3790620
        // https://stackoverflow.com/a/63630048/3790620
        //console.log("Requesting Resume in json");
        //function loadNext(resume_pk)
        //{
        //    // TODO: find a way to calculate different resumes (you need to go back and forth)
        //    // https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
        //    fetch("http://localhost:8000/resume/list/"+resume_pk+"/")
        //    .then(response => response.json())
        //    .then(data => {
        //        console.log(data);
        //        // https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector
        //        const name_a = document.querySelector('#name');
        //        console.log(name_a);
        //        console.log(data.author_name);
        //        console.log(data.resume_created_at);
        //        console.log(data.author_image);
        //        console.log(data.resume_filename);
        //        console.log(data.resume_resumefile_url);
        //        console.log(data.resume_text);
        //        //name_a.innerText = data.author_name;
        //    });

            // <a id="name" class="card-user-link" 
            //  href="{ url 'resumes:user_resumes' resume.author.username %}">
            //  { resume.author }}</a>

            //$('#next_button').on('click',
            //function(pk){
            //    $.ajax({
            //        type: "GET",
            //        url: '/',
            //        data: {'pk': pk},
            //        dataType: 'json',
            //        success: function(data){
            //            $('spe').append(data)
            //        }
            //    })
            //})

            //https://stackoverflow.com/q/57240628/3790620
        //}

    </script>
{% endblock content %}