{% extends "base.html" %}

{% block content %}
    {% if post_list %}
        <div class="cardgroup">
            {% for post in post_list %}
            <!-- TODO: Consider to use AJAX to request the post html from another view. -->
                <div class="card m-2 overflow-hidden">
                    <div class="card-header">
                        <div class="d-flex bd-highlight align-items-start">
                            <img class="rounded-circle img-thumbnail center card-img-start" src="{{ post.author.profile.image.url }}" alt=" ">
                                
                            <div class="align-self-start flex-fill"><!-- card-user-start -->
                                <div class="align-self-start-inner">
                                    <a id="name" class="card-user-link" href="{% url 'blog:user_posts' post.author.username }">{{ post.author }}</a>
                                      <!-- Format the date: -->
                                      <small class="text-muted">created_at: {{ post.created_at|date:"F d, Y" }}</small>
                                      <small class="text-muted">updated_at: {{ post.updated_at|date:"F d, Y" }}</small>
                                      <!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
                                </div>
                                
                                
                                <h5 class="card-title align-self-end">
                                    <a class="card-title" href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                                </h5>
                            </div>
                        </div>
                            
                    </div>

                    <div class="card-body">
                        
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-1x1" style="margin-left: auto; margin-right: auto; width: 90%; height: 75vh/*950px*/;">
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                        <!-- https://getbootstrap.com/docs/5.0/helpers/ratio/ -->
                        
                    </div>
                    <div class="card-footer">
                        {% comment "optional button" %}
                        {% if resume.tags.all %}
                            Tags:
                        {% endif %}
                        {% for tag in resume.tags.all %}
                            <span class="badge bg-info rounded-pill text-dark">{{ tag.name }}</span>
                        {% endfor %}
                        {% endcomment %}

                    </div>

                </div>
                
            {% endfor %}

        </div>

        <br>

    {% else %}
        <strong>No Posts was found</strong>
    {% endif %}
    
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        function changeSearchHolder()
        {
            search_input = document.getElementsByName('search')[0];
            search_input.placeholder = 'Search Posts..';
        }
        changeSearchHolder();
    </script>
{% endblock js %}