{% extends "base.html" %}
<!-- Load crispy form -->
{% load crispy_forms_tags %} 
{% block content %}

    <div class="content-section">
        <h2>Hi</h2>

        <ol>
            
            <li><a href="{% url 'resumes:resume_list' %}">Resume list</a></li>
            <li><a href="{% url 'resumes:resume_create' %}">Resume create</a></li>
            <li><a href="{% url 'resumes:resume_detail' 1 %}">Resume detail</a></li>
            <li><a href="{% url 'resumes:resume_update' 1 %}">Resume update</a></li>
            <li><a href="{% url 'resumes:resume_delete' 1 %}">Resume delete</a></li>
        </ol>


        <ol>
            
            <li><a href="{% url 'resumes:review_list' %}">Review list</a></li>
            <li><a href="{% url 'resumes:review_create' 1 %}">Review create</a></li>
            <li><a href="{% url 'resumes:review_detail' 1 %}">Review detail</a></li>
            <li><a href="{% url 'resumes:review_update' 1 %}">Review update</a></li>
            <li><a href="{% url 'resumes:review_delete' 1 %}">Review delete</a></li>
        </ol>
        
    </div>
{% endblock content %}